# PROGRAMMATION
snippet nc
\\newcommand{\\${1:cmd}}[${2:opt}]{${3:realcmd}} ${0}
endsnippet

# COURS
snippet begin
\\begin{${1:env}}
${0:${VISUAL}}
\\end{$1}
endsnippet

# GENERAL
snippet sec
\\section{${1:section name}}%
\\label{sec:${2:$1}}
${0}
endsnippet


