[submodule "pack/lesplugins/start/vim-fugitive"]
	path = pack/lesplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/lesplugins/start/startscreen"]
	path = pack/lesplugins/start/startscreen
	url = https://github.com/arp242/startscreen.vim.git
[submodule "pack/lesplugins/start/goyo"]
	path = pack/lesplugins/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/lesplugins/start/tocdown"]
	path = pack/lesplugins/start/tocdown
	url = https://github.com/wikimatze/tocdown.git
