[submodule "pack/lesplugins/start/vim-fugitive"]
	path = pack/lesplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/lesplugins/start/startscreen"]
	path = pack/lesplugins/start/startscreen
	url = https://github.com/arp242/startscreen.vim.git
[submodule "pack/lesplugins/start/goyo"]
	path = pack/lesplugins/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/lesplugins/start/tocdown"]
	path = pack/lesplugins/start/tocdown
	url = https://github.com/wikimatze/tocdown.git
[submodule "pack/lesplugins/start/undotree"]
	path = pack/lesplugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/lesplugins/vim-markdown-toc"]
	path = pack/lesplugins/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
[submodule "pack/lesplugins/opt/vim-markdown-toc"]
	path = pack/lesplugins/opt/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
